@import url(https://fonts.googleapis.com/css?family=Satisfy);
@import url(https://fonts.googleapis.com/css?family=Vollkorn&display=swap);
@import url(https://fonts.googleapis.com/css?family=Titan+One);

@keyframes apparition {
  100% {
    transform: translateY(-120px);
  }
}

@keyframes slide {
  20% {
    transform: translateX(-1000px);
  }
  40% {
    transform: translateX(-2000px);
  }
  60% {
    transform: translateX(-3000px);
  }
  80% {
    transform: translateX(-4000px);
  }
  100% {
    transform: translateX(-5000px);
  }
}

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(230, 230, 230);
  background-image: url(../pictures/fender.png);
  background-repeat: no-repeat;
  background-position-x: 100%;
  margin: auto;
  max-width: 100%;
  height: 3150px;
  font-family: "Vollkorn", sans-serif;
}

/* HEADER */
header {
  height: 220px;
  background-image: url(../pictures/head1.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  font-family: "Titan One";
  font-size: 1.2em;
  box-shadow: 0px 2px 2px black;
}

nav {
  position: fixed;
  width: 100%;
  z-index: 3;
}
.menu {
  /*background-color: rgba(206, 135, 51);*/
  background-color: #063147;
  opacity: 1;
  height: 45px;
  display: flex;
  justify-content: flex-end;
  list-style: none;
  color: white;
}

.menu li {
  display: flex;
  flex-direction: column;
  width: 250px;
  line-height: 45px;
  text-align: center;
  cursor: pointer;
}
.submenu {
  list-style: none;
  padding-left: 0px;
}

.menu li ul li a {
  visibility: hidden;
  background-color: #063147;
  width: 250px;
}

.menu li:hover ul li a {
  visibility: visible;
}

.menu li span:hover {
  text-decoration: underline;
  font-size: 1.1em;
}

.menu li ul li:hover {
  text-decoration: underline;
  font-size: 1.1em;
}

a {
  text-decoration: none;
  color: white;
}

/*SECTION 1*/

section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
}

.biography {
  width: 800px;
}

h1 {
  margin: 80px 40px 40px 40px;
  font-family: "Titan One", sans-serif;
  font-size: 60px;
  font-weight: 500;
  color: #063147;
  text-shadow: 6px 0px 10px white, -6px 0px 10px white, 0px 6px 10px white,
    0px -6px 10px white;
}

aside h1 {
  font-size: 40px;
  margin-top: 40px;
}
h2 {
  font-family: "Titan One", sans-serif;
  font-size: 25px;
  color: #063147;
  text-shadow: 3px 0px 5px white, -3px 0px 5px white, 0px 3px 5px white,
    0px -3px 5px white;
}

.text_bio {
  font-size: 1.3em;
  line-height: 160%;
  text-shadow: 6px 0px 10px white, -6px 0px 10px white, 0px 6px 10px white,
    0px -6px 10px white;
  text-align: justify;
}

aside {
  background-color: #d49943;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 10px;
  width: 350px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px black;
}

figure {
  background-color: white;
  margin-top: 30px;
  box-shadow: 0px 3px 3px black;
}
.woodstock {
  max-width: 100%;
}
table {
  margin-top: 30px;
  width: 300px;
  text-align: center;
}
td {
  padding: 15px 15px 0px 30px;
}
.left {
  font-family: "Titan One";
  font-size: 1.3em;
}
.description {
  color: ;
}
/* DISCOGRAPHY */

#disco {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 60px;
}

.discography {
  perspective: 5000px;
  max-width: 100%;
  height: 950px;
  padding: 60px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: space-between;
}

.discography div {
  height: 350px;
  width: 350px;
  overflow: hidden;
}
.discography div h2 {
  margin-bottom: 20px;
}
.album {
  position: absolute;
  height: 350px;
  width: 350px;
  box-shadow: 0px 0px 15px black;
  border-radius: 3px;
  backface-visibility: hidden;
  transition: 3s;
}

.devant {
  z-index: 2;
}

.arriere {
  z-index: 1;
  transform: rotateY(-180deg);
}

.experienced:hover .devant {
  transform: rotateY(180deg);
}

.experienced:hover .arriere {
  transform: rotateY(0deg);
}

.axis:hover .devant {
  transform: rotateY(180deg);
}

.axis:hover .arriere {
  transform: rotateY(0deg);
}

.electric:hover .devant {
  transform: rotateY(180deg);
}

.electric:hover .arriere {
  transform: rotateY(0deg);
}

.gypsys:hover .devant {
  transform: rotateY(180deg);
}

.gypsys:hover .arriere {
  transform: rotateY(0deg);
}

.monterey:hover .devant {
  transform: rotateY(180deg);
}

.monterey:hover .arriere {
  transform: rotateY(0deg);
}

/*SLIDESHOW*/

#pics {
  text-align: center;
}

.slideshow {
  position: relative;
  margin: auto;
  overflow: hidden;
  padding-top: 0px;
  box-shadow: 0px 5px 5px #506166;
  border-radius: 5px;
  height: 550px;
  width: 1000px;
}

.pictures {
  display: flex;
  position: absolute;
  left: 0px;
}
.pictures li {
  display: inline;
  padding: 0;
}

.pictures {
  animation: slide 40s infinite forwards alternate;
}
